<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link th:href="@{/static/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet" />
<script type="text/javascript" th:src="@{/static/jquery/jquery-1.11.1-min.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/vue.js}"></script>
<script type="text/javascript" th:src="@{/static/jquery/axios.min.js}"></script>
<script type="text/javascript">

	//默认情况下取消和保存按钮是隐藏的
	var cancelAndSaveBtnDefault = true;
	
	$(function(){
		//获取上下文路径
		var pathName=document.location.pathname;
		var projectName=pathName.substring(0,pathName.substr(1).indexOf('/')+1);
		//创建vue对象
		var vue=new Vue({
			el:'#remarkDiv',
			data:{
				username:'',
				noteContent:'',
				activityId:'',
				activityName:'',
				id:''
			},
			methods:{
				saveActivityRemark:function () {
					axios({
						url:projectName+'/workbench/activity/saveActivityRemark',
						params:{
							activityId:vue.activityId,
							noteContent:vue.noteContent
						},
						method:'post'
					})
					.then(function (value) {
						if(value.data.code=="0"){
							alert(value.data.message);
							return;
						}else{
							//清空备注内容
							$("#remark").val("");
							//显示新添备注
							var str='';
							str+="<div id=\"div_"+value.data.retObject.id+"\" class=\"remarkDiv\" style=\"height: 60px;\">";
							str+="<img title=\"zhangsan\" th:src=\"@{/static/image/user-thumbnail.png}\" style=\"width: 30px; height:30px;\">";
							str+="<div style=\"position: relative; top: -40px; left: 40px;\">";
							str+="<h5>"+vue.noteContent+"</h5>";
							str+="<font color=\"gray\">市场活动</font> <font color=\"gray\">-</font> <b>"+vue.activityName+"</b> <small style=\"color: gray;\">"+value.data.retObject.createDate+" 由"+vue.username+"创建</small>";
							str+="<div style=\"position: relative; left: 500px; top: -30px; height: 30px; width: 100px; display: none;\">";
							str+="<a class=\"myHref\" name=\"alterA\" href=\"javascript:void(0);\"><span class=\"glyphicon glyphicon-edit\" style=\"font-size: 20px; color: #E6E6E6;\" th:remarkId=\""+value.data.retObject.id+"\"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;";
							str+="<a class=\"myHref\" name=\"dropA\" href=\"javascript:void(0);\"><span class=\"glyphicon glyphicon-remove\" style=\"font-size: 20px; color: #E6E6E6;\" th:remarkId=\""+value.data.retObject.id+"\"></span></a>";
							str+="</div>";
							str+="</div>";
							str+="</div>";
							$("#remarkDiv").before(str);
						}
					});
				},
				dropActivityRemarkById:function () {
					axios({
						url:projectName+'/workbench/activity/dropActivityRemarkById',
						params:{
							id:vue.id
						},
						method:'post'
					})
					.then(function (value) {
						if(value.data.code=="1"){
							$("#div_"+vue.id).remove();
						}else{
							alert(value.data.message);
						}
					});
				},
				alterActivityRemark:function () {
					axios({
						url:projectName+'/workbench/activity/alterActivityRemark',
						method:'post',
						params:{
							id:vue.id,
							noteContent:vue.noteContent
						}
					})
					.then(function (value) {
						if(value.data.code=="1"){
							//关闭模态窗口
							$("#editRemarkModal").modal("hide");
							//更新备注列表
							$("#div_"+value.data.retObject.id+' h5').text(value.data.retObject.noteContent);
							$("#div_"+value.data.retObject.id+' small').text(" "+value.data.retObject.editDate+' 由'+vue.username+'修改');
						}else{
							//开启模态窗口
							$("#editRemarkModal").modal("show");
							//错误提示信息
							alert(value.data.message);
						}
					});
				}
			}
		});

		$("#remark").focus(function(){
			if(cancelAndSaveBtnDefault){
				//设置remarkDiv的高度为130px
				$("#remarkDiv").css("height","130px");
				//显示
				$("#cancelAndSaveBtn").show("2000");
				cancelAndSaveBtnDefault = false;
			}
		});
		
		$("#cancelBtn").click(function(){
			//显示
			$("#cancelAndSaveBtn").hide();
			//设置remarkDiv的高度为130px
			$("#remarkDiv").css("height","90px");
			cancelAndSaveBtnDefault = true;
		});

		$("#remarkAllDiv").on("mouseover",".remarkDiv",function () {
			$(this).children("div").children("div").show();
		});
		$("#remarkAllDiv").on("mouseout",".remarkDiv",function () {
			$(this).children("div").children("div").hide();
		});
		$("#remarkAllDiv").on("mouseover",".myHref",function () {
			$(this).children("span").css("color","red");
		});
		$("#remarkAllDiv").on("mouseout",".myHref",function () {
			$(this).children("span").css("color","#E6E6E6");
		});
		// $(".remarkDiv").mouseover(function(){
		// 	$(this).children("div").children("div").show();
		// });
		//
		// $(".remarkDiv").mouseout(function(){
		// 	$(this).children("div").children("div").hide();
		// });
		//
		// $(".myHref").mouseover(function(){
		// 	$(this).children("span").css("color","red");
		// });
		//
		// $(".myHref").mouseout(function(){
		// 	$(this).children("span").css("color","#E6E6E6");
		// });

		//给保存按钮添加单击事件
		$("#saveActivityRemarkBtn").click(function () {
			//表单验证
			var noteContent=$.trim($("#remark").val());
			var username=$("#remark").attr("username");
			var activityId=$("#remark").attr("activityid");
			var activityName=$("#remark").attr("activityname");
			alert("测试"+username);
			if(noteContent==""){
				alert("请输入备注内容！");
				return;
			}
			//封装vue参数
			vue.username=username;
			vue.noteContent=noteContent;
			vue.activityId=activityId;
			vue.activityName=activityName;
			//发送请求
			vue.saveActivityRemark();
		});

		//给删除按钮添加单击事件
		$("#remarkAllDiv").on("click","a[name='dropA']",function () {
			//收集参数
			var id=$(this).attr("remarkid");
			//封装vue参数
			vue.id=id;
			vue.dropActivityRemarkById();
		});

		//给编辑按钮添加单击事件
		$("#remarkAllDiv").on("click","a[name='alterA']",function () {
			//收集参数
			var id=$(this).attr("remarkid");
			var noteContent=$("#div_"+id+" h5").text();
			//给模态窗口赋值
			$("#remarkId").val(id);
			$("#noteContent").val(noteContent);
			//显示模态窗口
			$("#editRemarkModal").modal("show");
		});

		//给更新按钮添加单击事件
		$("#updateRemarkBtn").click(function () {
			//收集参数
			var id=$("#remarkId").val();
			var noteContent=$.trim($("#noteContent").val());
			var username=$("#remark").attr("username");
			//表单验证
			if(noteContent==""){
				alert("备注内容不能为空！");
				return;
			}
			//调用vue对象的方法，发送请求
			vue.id=id;
			vue.noteContent=noteContent;
			vue.username=username;
			vue.alterActivityRemark();
		});
	});
	
</script>

</head>
<body>
	
	<!-- 修改市场活动备注的模态窗口 -->
	<div class="modal fade" id="editRemarkModal" role="dialog">
		<%-- 备注的id --%>
		<input type="hidden" id="remarkId">
        <div class="modal-dialog" role="document" style="width: 40%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改备注</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="noteContent" class="col-sm-2 control-label">内容</label>
                            <div class="col-sm-10" style="width: 81%;">
                                <textarea class="form-control" rows="3" id="noteContent"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="updateRemarkBtn">更新</button>
                </div>
            </div>
        </div>
    </div>

    

	<!-- 返回按钮 -->
	<div style="position: relative; top: 35px; left: 10px;">
		<a href="javascript:void(0);" onclick="window.history.back();"><span class="glyphicon glyphicon-arrow-left" style="font-size: 20px; color: #DDDDDD"></span></a>
	</div>
	
	<!-- 大标题 -->
	<div style="position: relative; left: 40px; top: -30px;">
		<div class="page-header">
			<h3>市场活动-<span th:text="${activity.name}">发传单</span> <small><span th:text="${activity.startDate}">2020-10-10</span> ~ <span th:text="${activity.endDate}">2020-10-20</span></small></h3>
		</div>
		
	</div>
	
	<br/>
	<br/>
	<br/>

	<!-- 详细信息 -->
	<div style="position: relative; top: -70px;">
		<div style="position: relative; left: 40px; height: 30px;">
			<div style="width: 300px; color: gray;">所有者</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.owner}">zhangsan</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">名称</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b th:text="${activity.name}">发传单</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>

		<div style="position: relative; left: 40px; height: 30px; top: 10px;">
			<div style="width: 300px; color: gray;">开始日期</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.startDate}">2020-10-10</b></div>
			<div style="width: 300px;position: relative; left: 450px; top: -40px; color: gray;">结束日期</div>
			<div style="width: 300px;position: relative; left: 650px; top: -60px;"><b th:text="${activity.endDate}">2020-10-20</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px;"></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -60px; left: 450px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 20px;">
			<div style="width: 300px; color: gray;">成本</div>
			<div style="width: 300px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.cost}">4,000</b></div>
			<div style="height: 1px; width: 400px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 30px;">
			<div style="width: 300px; color: gray;">创建者</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.createBy}">zhangsan&nbsp;&nbsp;</b><small style="font-size: 10px; color: gray;" th:text="${activity.createDate}">2017-01-18 10:10:10</small></div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 40px;">
			<div style="width: 300px; color: gray;">修改者</div>
			<div style="width: 500px;position: relative; left: 200px; top: -20px;"><b th:text="${activity.editBy}!=null?${activity.editBy}:'无'">zhangsan&nbsp;&nbsp;</b><small style="font-size: 10px; color: gray;" th:text="${activity.editDate}!=null?${activity.editDate}:'无'">2017-01-19 10:10:10</small></div>
			<div style="height: 1px; width: 550px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
		<div style="position: relative; left: 40px; height: 30px; top: 50px;">
			<div style="width: 300px; color: gray;">描述</div>
			<div style="width: 630px;position: relative; left: 200px; top: -20px;">
				<b th:text="${activity.description}">
					市场活动Marketing，是指品牌主办或参与的展览会议与公关市场活动，包括自行主办的各类研讨会、客户交流会、演示会、新产品发布会、体验会、答谢会、年会和出席参加并布展或演讲的展览会、研讨会、行业交流会、颁奖典礼等
				</b>
			</div>
			<div style="height: 1px; width: 850px; background: #D5D5D5; position: relative; top: -20px;"></div>
		</div>
	</div>
	
	<!-- 备注 -->
	<div id="remarkAllDiv" style="position: relative; top: 30px; left: 40px;">
		<div class="page-header">
			<h4>备注</h4>
		</div>
		
		<!-- 备注1 -->
<!--		<div class="remarkDiv" style="height: 60px;">-->
<!--			<img title="zhangsan" src="../../image/user-thumbnail.png" style="width: 30px; height:30px;">-->
<!--			<div style="position: relative; top: -40px; left: 40px;" >-->
<!--				<h5>哎呦！</h5>-->
<!--				<font color="gray">市场活动</font> <font color="gray">-</font> <b>发传单</b> <small style="color: gray;"> 2017-01-22 10:10:10 由zhangsan</small>-->
<!--				<div style="position: relative; left: 500px; top: -30px; height: 30px; width: 100px; display: none;">-->
<!--					<a class="myHref" href="javascript:void(0);"><span class="glyphicon glyphicon-edit" style="font-size: 20px; color: #E6E6E6;"></span></a>-->
<!--					&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--					<a class="myHref" href="javascript:void(0);"><span class="glyphicon glyphicon-remove" style="font-size: 20px; color: #E6E6E6;"></span></a>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->

		<div th:id="'div_'+${activityRemark.id}" class="remarkDiv" style="height: 60px;" th:each="activityRemark : ${activityRemarkList}">
			<img title="zhangsan" src="../../image/user-thumbnail.png" style="width: 30px; height:30px;">
			<div style="position: relative; top: -40px; left: 40px;" >
				<h5 th:text="${activityRemark.noteContent}">哎呦！</h5>
				<font color="gray">市场活动</font> <font color="gray">-</font> <b th:text="${activity.name}">发传单</b> <small style="color: gray;" th:text="${activityRemark.editFlag}=='0'?${activityRemark.createDate}+' 由'+${activityRemark.createBy}+'创建':${activityRemark.editDate}+' 由'+${activityRemark.editBy}+'修改'"> 2017-01-22 10:10:10 由zhangsan</small>
				<div style="position: relative; left: 500px; top: -30px; height: 30px; width: 100px; display: none;">
					<a class="myHref" name="alterA" href="javascript:void(0);" th:remarkid="${activityRemark.id}"><span class="glyphicon glyphicon-edit" style="font-size: 20px; color: #E6E6E6;"></span></a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="myHref" name="dropA" href="javascript:void(0);" th:remarkid="${activityRemark.id}"><span class="glyphicon glyphicon-remove" style="font-size: 20px; color: #E6E6E6;"></span></a>
				</div>
			</div>
		</div>

		<div id="remarkDiv" style="background-color: #E6E6E6; width: 870px; height: 90px;">
			<form role="form" style="position: relative;top: 10px; left: 10px;">
				<textarea id="remark" th:username="${session.user.name}" th:activityid="${activity.id}" th:activityname="${activity.name}" class="form-control" style="width: 850px; resize : none;" rows="2"  placeholder="添加备注..."></textarea>
				<p id="cancelAndSaveBtn" style="position: relative;left: 737px; top: 10px; display: none;">
					<button id="cancelBtn" type="button" class="btn btn-default">取消</button>
					<button id="saveActivityRemarkBtn" type="button" class="btn btn-primary">保存</button>
				</p>
			</form>
		</div>
	</div>
	<div style="height: 200px;"></div>
</body>
</html>